@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

:root {
  --dark-color: #1f1e1e;
  --light-color: #f7f7f7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  padding-top: 70px;
}

/* Utils */

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}
.bg-light {
  background: var(--light-color);
  color: rgb(17, 13, 13);
}

ul {
  list-style: none;
}

/* Colors */

.green {
  color: rgb(34, 161, 161);
}
.white {
  color: rgb(255, 255, 255);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.p-4 {
  padding: 4rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

/* Font Size */

.fs-50 {
  font-size: 50px;
}
.fs-30 {
  font-size: 30px;
}

/* Alignment */

.align {
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Button */

.btn {
  display: inline-block;
  background: rgb(45, 26, 151);
  color: white;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 5px;
}
.btn:hover {
  background: black;
  color: white;
}
.btn-round {
  padding: 0.9rem 3.9rem;
  background: rgb(50, 115, 190);
  border-radius: 20px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  background-color: white;
}

.navbar ul {
  display: flex;
}
.title {
  display: flex;
}
.title img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
}
.navbar p {
  color: rgb(0, 0, 0);
  padding: 0.45rem;
  margin: 0 0.25rem;
}

/* Landing */

.head {
  position: relative;
  background-image: linear-gradient(
    to right top,
    #0ebbc7,
    #44a9ad,
    #1bb9b9,
    #00b3b0,
    #18e9a9
  );
  width: 100%;
  padding: 60px;
}

.col-2 {
  float: left;
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}
.col-3 {
  float: left;
  width: 33.33%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.col-2 img {
  width: 300px;
}
.col-3 img {
  width: 250px;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

/* FAQ */

.faq-row-wrapper .faq-body .faq-row .row-title {
  font-weight: bold;
}

/* Footer */
.footer {
  bottom: 0;
  width: 100%;
}
i {
  padding:0 10px;
  font-size: 30px;
}

/* Mobile */

@media (max-width: 768px) {
  body {
    padding-top: 100px;
  }
  .hide {
    display: none;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-2 img {
    width: 200px;
  }
  .col-3 img {
    width: 150px;
  }
  .title img {
    width: 30px;
    height: 30px;
    margin-top: 25px;
  }
  .navbar {
    position: absolute;
  }
  .p-3 {
    padding: 0;
  }
  .p-4 {
    padding: 1rem;
  }
  .title p {
    font-size: 20px;
  }
}
